/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mochiy+Pop+P+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-color: #e5e6e7;
}
/*LOGO*/
.titulo{
  font-size: 2em;
  color:rgb(61, 88, 139);
  font-family: "Mochiy Pop P One", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
}

/*INICIO DE SESION*/

.caja-login {
  height: calc(100vh - 60px - 36px);
  background-color: #8399A1;
}

.titulo-textos{
  font-size: 2em;
  color:rgb(61, 88, 139);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-optical-sizing: auto;
}

/*TEXTOS*/
.textos-importantes{
  font-size: 1em;
  color:rgb(61, 88, 139);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-optical-sizing: auto;
}

.fuente{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*BOTONES*/
.boton-inicio {
  color: white;
}

/*MENU*/
.caja-principal{
  background-color: #8399A1;
}

.caja-menu {
  color: white;
  margin-top: 150px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}

.boton-header{
  background-color: #768D97;
}

.boton-header:hover{
  background-color: #607077;
}

.boton-menu {
  width: 240px;
  font-size: medium;
  padding: 8px 16px;
  border: none; 
  margin-left: 5px;
  transition: box-shadow 0.3s;
}

.boton-menu:hover { 
  box-shadow: 0 0 0 2px white;
}


header {
  position: relative;
  z-index: 20; 
}

.caja-perfil{
  margin-right: 100px;
  width: 70em
}

.caja-texto{
  height: 45vh;
  resize: none;
}

/*CIRCULO DE CARGANDO*/
.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(61, 88, 139);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Sugerencias.css */

.sugerencias {
  align-items: center;
  width: 100%;
}

.sugerencia {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  animation: aparecer 1s ease-in-out forwards;
}

@keyframes aparecer {
  0% { 
    opacity: 0; 
    transform: translateY(-20px);
  }
  100% { 
    opacity: 1; 
    transform: translateY(0);
  }
}