/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.boton-inicio {
  color: white;
}

.caja-principal{
  opacity: 0.5;
  background-color: linear-gradient(to bottom, #ffffff, #000000);
}

.caja-menu {
  color: white;
  margin-top: 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 10;
}

.boton-header{
  background-color: #768D97;
}

.boton-header:hover{
  background-color: #607077;
}

.boton-menu {
  /* Estilos base del botón */
  width: 240px;
  font-size: medium; /* Tamaño base del texto */
  padding: 8px 16px; /* Relleno del botón */
  border: none; /* Quitamos el borde */
  margin-left: 5px;
  transition: box-shadow 0.3s; /* Transición para el cambio en la sombra */
}

.boton-menu:hover { 
  box-shadow: 0 0 0 2px white;
}


header {
  position: relative;
  z-index: 20; /* Asegura que el Header esté por encima del menú */
}

.caja-perfil{
  margin-right: 100px;
  width: 70em
}
